@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Kanit-Light";
  src: url("../../public/fonts/Kanit-Light.ttf");
}

@font-face {
  font-family: "BaiJamjuree-Light";
  src: url("../../public/fonts/BaiJamjuree-Light.ttf");
}

@font-face {
  font-family: "BaiJamjuree-Regular";
  src: url("../../public/fonts/BaiJamjuree-Regular.ttf");
}

@layer base {
  html {
    font-family: BaiJamjuree-Regular, system-ui, sans-serif;
  }
}

._input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
._input_error {
  @apply bg-gray-50 border border-red-600 text-red-600 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500
}
._label-lg {
  @apply block mb-2 text-gray-900 text-lg font-semibold dark:text-white
}
._label-sm {
  @apply block mb-2 text-gray-900 text-sm font-medium dark:text-white
}



/* .container {
  @apply p-4
}

.container > * {
  @apply mb-4
}

.container > *:last-child {
  @apply mb-0
} */